/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f5f7;
  color: #333;
}

/* Navbar */
.navbar {
  background: #003366;
  padding: 15px;
  text-align: center;
}

.navbar h1 {
  color: white;
  font-size: 22px;
}

/* Login Box */
.login-container {
  width: 90%;
  max-width: 350px;
  margin: 80px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #003366;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  margin-top: 10px;
}

/* Dashboard */
.dashboard {
  padding: 20px;
}

.balance-box {
  background: #003366;
  padding: 20px;
  border-radius: 10px;
